@model IEnumerable<TabRepository.ViewModels.ProjectIndexViewModel>

<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-md-4 m-b-lg">
            <div class="panel panel-default panel-profile">
                <div class="panel-heading" style="background-image: url('@project.ImageFilePath');"></div>
                <div class="panel-body text-center">
                    <h3>@project.Name</h3>
                    <p class="m-b">Owner: @project.Owner</p>
                    <div>
                        <a id="new-album-button" class="btn btn-primary pull-left" data-project-id="@project.Id" href="@Url.Action("GetAlbumFormPartialView", "Albums")">New Album</a>                       
                        <a id="edit-project-button" class="btn btn-default" href="@Url.Action("GetProjectFormPartialView", "Projects", new { id = project.Id })"><i class="fa fa-pencil edit-button-icon"></i></a>
                        @Html.ActionLink("Delete", "Delete", "Projects", new { id = project.Id }, new { @class = "btn btn-danger pull-right", id = "delete-project-button" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
