@model IEnumerable<TabRepository.ViewModels.ProjectIndexViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Projects</h2>

<p>
    @Html.ActionLink("New Project", "New", "Projects", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Project</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td><img src="@project.ImageFilePath" alt="ASP.NET" class="img-responsive" /></td>               
                <td>@Html.ActionLink(@project.Name, "Index", "Tabs", new { id = project.Id }, null)</td>
                <td>@project.Description</td>
                <td>@Html.ActionLink("New Tab", "New", "Tabs", new { id = project.Id }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Projects", new { id = project.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>

