@model IEnumerable<TabRepository.ViewModels.ProjectIndexViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Projects</h2>

<p>
    @Html.ActionLink("New Project", "New", "Projects", null, new { @class = "btn btn-primary" })
</p>

<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-md-4 m-b-lg">
            <div class="panel panel-default panel-profile">
                <div class="panel-heading" style="background-image: url('@project.ImageFilePath');"></div>
                <div class="panel-body text-center">
                    <h3>@project.Name</h3>
                    <p class="m-b">Owner: @project.Owner</p>
                    <div>
                        @Html.ActionLink("New Tab", "New", "Tabs", new { id = project.Id }, new { @class = "btn btn-primary pull-left" })
                        @Html.ActionLink("Delete", "Delete", "Projects", new { id = project.Id }, new { @class = "btn btn-danger pull-right" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

