@model TabRepository.ViewModels.ProjectFormViewModel
@{
    ViewBag.Title = "ProjectForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Project</h2>

<form id="project-form" asp-controller="Projects" asp-action="Save" data-ajax="true" data-ajax-method="POST">
    @Html.ValidationSummary() <!--Prints list of validation errors at top of form-->
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Image)
        @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "btn btn-default" })
        @Html.ValidationMessageFor(m => m.Image)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"> Save</button>
</form>
