@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div id='terms-modal' class='modal fade' align="center" data-url='@Url.Action("GetTermsOfService", "Home")'>
    <div id='terms-container'>
    </div>
</div>

<div id='privacy-modal' class='modal fade' align="center" data-url='@Url.Action("GetPrivacyPolicy", "Home")'>
    <div id='privacy-container'>
    </div>
</div>

<div id="contributor-level-modal" class="modal fade">
    <div class="modal-dialog text-left">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contributor Level</h4>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style='text-decoration: underline'>What is Contributor Level?</h6>
                Contibutors are other TabCollab users whom you give permission to contribute to your tabs. Contributor Level all comes down to how granular you want to be with your contributors' access to your material. It is the level at which contributors access your music.<br /><br />If the Contributor Level is Project, then the contributor has access to everything inside the Project (all Albums, all Tabs). If the Contributor Level is Tab, then the contributor only has access to the specified Tab.<br /><br />
                Composer accounts allow you to be more precise in what you allow contributors to access.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="contributor-modal" class="modal fade">
    <div class="modal-dialog text-left">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contributors</h4>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style='text-decoration: underline'>What are Contributors?</h6>
                Contibutors are other TabCollab users whom you give permission to contribute to your Project, Albums, and Tabs.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="tab-modal" class="modal fade">
    <div class="modal-dialog text-left">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tab and Tab Version Counts</h4>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style='text-decoration: underline'>How do Tab and Tab Version counts work?</h6>
                It all comes down to who is the owner of the Tab. In TabCollab, the user who creates the Project owns everything within that Project. So, Tab and Tab Version are owned by the owner of the Project.<br /><br /> If you create a Project and add Contributors, any new Tabs or new Tab Versions they add to your Project count towards your Tab and Tab Version count. Likewise, any contributions you make to someone else's Projects count towards their account.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="flex-container-row">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" id="register-form" data-ajax="true" method="post" enctype="multipart/form-data" class="form-horizontal">
        <h2>Register</h2>
        <h4>Create your account</h4>
        <div class="row row-no-margin">
            <div class="col">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="form-label">
                        <label asp-for="AccountType"></label><br />
                        <div class="row">
                            <div class="col">
                                <div id="free-btn" class="btn btn-outline-primary btn-account-type" style="width: 100%">Free</div>
                            </div>
                            <div class="col">
                                <div id="subscription-btn" class="btn btn-outline-primary btn-account-type" style="width: 100%">Pro</div>
                            </div>
                            <div class="col">
                                <div id="composer-btn" class="btn btn-outline-primary disabled btn-account-type" style="width: 100%">Composer (coming soon)</div>
                            </div>
                        </div>
                        <input type="radio" id="free-radio" asp-for="AccountType" value="0" style="opacity: 0" />
                        <input type="radio" id="subscription-radio" asp-for="AccountType" value="1" style="opacity: 0" />
                        <table id="features-table" class="table table-striped table-dark table-hover tabversions-table features-table" style="display: none">
                            <thead>
                                <tr>
                                    <th width="25%"><div class="table-header"></div>Feature</th>
                                    <th width="25%"><div class="table-header">Free</div></th>
                                    <th width="25%"><div class="table-header">Pro</div></th>
                                    <th width="25%"><div class="table-header">Composer (coming soon)</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td># of Projects</td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                </tr>
                                <tr>
                                    <td># of Albums</td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                </tr>
                                <tr>
                                    <td># of Tabs<br />(other users)<br /><i class="fa tab-question fa-question-circle fa-1" /></td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                </tr>
                                <tr>
                                    <td># of Tab Versions<br />(other users)<br /><i class="fa tab-question fa-question-circle fa-1" /></td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                </tr>
                                <tr>
                                    <td># of Tabs<br />(your user)<br /><i class="fa tab-question fa-question-circle fa-1" /></td>
                                    <td>5</td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                </tr>
                                <tr>
                                    <td># of Tab Versions<br />(your user)<br /><i class="fa tab-question fa-question-circle fa-1" /></td>
                                    <td>15 total</td>
                                    <td class="green-cell">&#8734</td>
                                    <td class="green-cell">&#8734</td>
                                </tr>
                                <tr>
                                    <td># of Contributors<br /><i class="fa contributor-question fa-question-circle fa-1" /></td>
                                    <td>2 per Project</td>
                                    <td>6 per Project</td>
                                    <td class="green-cell">&#8734</td>
                                </tr>
                                <tr>
                                    <td>Contributor Level<br /><i class="fa contributor-level-question fa-question-circle fa-1" /></td>
                                    <td>Project</td>
                                    <td>Project</td>
                                    <td class="green-cell">Project<br />Album<br />Tab</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th width="40%"><div class="table-header"></div>Price</th>
                                    <th width="30%"><div class="table-header">Free</div></th>
                                    <th width="30%"><div class="table-header">$4.99/month<br />or<br />$49.99/year</div></th>
                                    <th width="30%"><div class="table-header">$9.99/month<br />or<br />$99.99/year</div></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <span asp-validation-for="AccountType" style="color: red"></span>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="Username"></label>
                    </div>
                    <input asp-for="Username" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="Username" style="color: red"></span>
                        <span id="username-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="FirstName"></label>
                    </div>
                    <input asp-for="FirstName" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="FirstName" style="color: red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="LastName"></label>
                    </div>
                    <input asp-for="LastName" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="LastName" style="color: red"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="Email"></label>
                    </div>
                    <input asp-for="Email" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="Email" style="color: red"></span>
                        <span id="email-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="Password"></label>
                    </div>
                    <input asp-for="Password" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="Password" style="color: red"></span>
                        <span id="password-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <input asp-for="ConfirmPassword" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="ConfirmPassword" style="color: red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label image-upload">
                        @Html.LabelFor(m => m.Image, "Profile Image")
                        <div id="image-upload-container" style="display: none;">
                            <div id="image-upload"></div>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "btn btn-default form-input file-input" })
                    <div class="form-label">
                        <span id="image-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="ReCaptchaToken" name="ReCaptchaToken" />
        </div>
        <div class="row row-no-margin">
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <label for="AgreeToTerms"><input type="checkbox" data-val="true" data-val-required="The I agree to the Terms of Service and Privacy Policy field is required." id="AgreeToTerms" name="AgreeToTerms" value="true"></label><p style="display: inline;"> I agree to the <a id="terms-btn" class="link">Terms of Service</a> and <a id="privacy-btn" class="link">Privacy Policy</a></p>
                    </div>
                    <span asp-validation-for="AgreeToTerms" style="color: red"></span>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-default disabled button-submit-wide">Loading reCaptcha...</button>
                </div>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery.payment/lib/jquery.payment.min.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeLxbQUAAAAAKwu6kOAvAESdUxF92qrudialxI9"></script>
    <script>
    $(document).ready(function () {
        grecaptcha.ready(function () {
            grecaptcha.execute('6LeLxbQUAAAAAKwu6kOAvAESdUxF92qrudialxI9', { action: 'homepage' }).then(function (token) {
                document.getElementById("ReCaptchaToken").value = token;
                $('.button-submit-wide').html('Register');
                if (document.getElementById('AgreeToTerms').checked) {
                    $('.button-submit-wide').removeClass('disabled');
                }
            });
        });

        $('footer').show();

        onResize();
        imageUpload();
        
        $(document).on("click", ".contributor-level-question", function (e, data) {
            $('#contributor-level-modal').modal('show');
        });

        $(document).on("click", ".tab-question", function (e, data) {
            $('#tab-modal').modal('show');
        });

        $(document).on("click", ".contributor-question", function (e, data) {
            $('#contributor-modal').modal('show');
        });

        // Show information regarding free account
        $(document).on("click", "#free-btn", function (e, data) {
            if (!$(this).hasClass('checked')) {
                $(this).addClass('checked');
                $('#subscription-btn').removeClass('checked');
                $('#free-radio').click();
                $('#free-radio').click();
            }

            $('#features-table').show(500);
        });

        // Show information regarding subscription account
        $(document).on("click", "#subscription-btn", function (e, data) {
            if (!$(this).hasClass('checked')) {
                $(this).addClass('checked');
                $('#free-btn').removeClass('checked');
                $('#subscription-radio').click();
                $('#subscription-radio').click();
            }

            $('#features-table').show(500);
        });

        Stripe.setPublishableKey('pk_test_mMmjGjT6aetaMgLCCu14fWGm00wC0SGVLv');

        function stripeResponseHandler(status, response) {
            var form = $('#payment-form');

            if (response.error) {
                if (response.error) {
                    if (response.error.param) {
                        switch (response.error.param) {
                            case 'cvc':
                                $('#cvc-error').html(response.error.message);
                                break;
                            case 'number':
                                $('#number-error').html(response.error.message);
                                break;
                            case 'exp_year':
                            case 'exp_month':
                                $('#exp-error').html(response.error.message);
                                break;
                            case 'address_zip':
                                $('#zip-error').html(response.error.message);
                                break;
                        }
                    }
                    else {
                        showFailureBootbox("registering", response.error.message);
                    }

                    enableSubmitButton();
                }
            } else {
                // Successful Stripe token creation
                var token = response.id;

                form = $('#token-form')[0];

                // Insert the token into the form so it gets submitted to the server:
                $('#PaymentToken').val(token);
                $('#StripeInterval').val($('#Interval').val());

                $.ajax({
                    url: form.action,
                    type: 'POST',
                    data: new FormData(form),
                    cache: false,
                    contentType: false,
                    processData: false
                })
                    .then(function (response) {
                        enableSubmitButton();

                        if (response.error) {
                            if (response.param) {
                                switch (response.param) {
                                    case 'cvc':
                                        $('#cvc-error').html(response.error);
                                        break;
                                    case 'number':
                                        $('#number-error').html(response.error);
                                        break;
                                    case 'exp_year':
                                    case 'exp_month':
                                        $('#exp-error').html(response.error);
                                        break;
                                    case 'address_zip':
                                        $('#zip-error').html(response.error.message);
                                        break;
                                }
                            }
                            else {
                                showFailureBootbox("registering", response.error);
                            }
                        }
                        else {
                            $('.flex-container-row').html(response);
                        }
                    })
                    .fail(function (error) {
                        showFailureBootbox("registering", error.error);
                    });
            }
        }

        // Check card type
        $(document).on("keyup", "#CardNumber", function () {
            validateCardNumber(this);
        });

        // Check card type
        $(document).on("paste", "#CardNumber", function () {            
            var that = this;
            setTimeout(function () {
                validateCardNumber(that);
            }, 0);
        });

        function validateCardNumber(event) {
            var $amex = $('#amex'),
                $visa = $('#visa'),
                $mastercard = $('#mastercard'),
                $discover = $('#discover'),
                $cardNumber = $(event);

            $amex.removeClass('transparent');
            $visa.removeClass('transparent');
            $mastercard.removeClass('transparent');
            $discover.removeClass('transparent');

            if ($.payment.cardType($cardNumber.val()) == 'visa') {
                $mastercard.addClass('transparent');
                $amex.addClass('transparent');
                $discover.addClass('transparent');
            } else if ($.payment.cardType($cardNumber.val()) == 'amex') {
                $mastercard.addClass('transparent');
                $visa.addClass('transparent');
                $discover.addClass('transparent');
            } else if ($.payment.cardType($cardNumber.val()) == 'mastercard') {
                $amex.addClass('transparent');
                $visa.addClass('transparent');
                $discover.addClass('transparent');
            }
            else if ($.payment.cardType($cardNumber.val()) == 'discover') {
                $amex.addClass('transparent');
                $visa.addClass('transparent');
                $mastercard.addClass('transparent');
            }
        }

        $(document).on("change", "#AgreeToTerms", function () {
            if (this.checked) {
                if ($('.button-submit-wide').html() != 'Loading reCaptcha...') {
                    $('.button-submit-wide').removeClass('disabled');
                }                
            }
            else {
                $('.button-submit-wide').addClass('disabled');
            }
        });

        $(document).on("submit", "#register-form", function (e, data) {
            e.preventDefault();

            var $deferred = $.Deferred();

            // Don't submit form if the image is too large
            if ($('#Image')[0].files.length) {
                if ($('#Image')[0].files[0].size > 1000000) {
                    return
                }
                $('#image-upload').croppie('result', {
                    type: 'blob',
                    size: 'original',
                    format: 'jpeg'
                }).then(function (blob) {
                    $deferred.resolve(blob);
                });
            }
            else {
                $deferred.resolve();
            }

            $deferred.then(function (blob) {
                $('.validation-error').html('');
                $('.button-submit-wide').html('<div class="loader"></div>');
                $('.button-submit-wide').addClass('disabled');

                var form = e.target;
                var formData = new FormData(form);

                if (blob) {
                    formData.append('CroppedImage', blob, 'image.jpeg');
                }

                $.ajax({
                    url: form.action,
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                })
                .then(function (response) {
                    if (response.error) {
                        $('.button-submit-wide').html('Loading reCaptcha...');
                        $('.button-submit-wide').addClass('disabled');

                        if (response.error.toLowerCase().includes('username') || response.error.toLowerCase().includes('user name')) {
                            $('#username-error').html(response.error);
                        }
                        else if (response.error.toLowerCase().includes('email')) {
                            $('#email-error').html(response.error);
                        }
                        else if (response.error.toLowerCase().includes('password')) {
                            $('#password-error').html(response.error);
                        }
                        else if (response.error.toLowerCase().includes('file')) {
                            $('#image-error').html(response.error);
                        }
                        else {
                            showFailureBootbox("resgistering", response.error);
                        }

                        // Generate new reCaptcha token
                        grecaptcha.ready(function () {
                            grecaptcha.execute('6LeLxbQUAAAAAKwu6kOAvAESdUxF92qrudialxI9', { action: 'homepage' }).then(function (token) {
                                document.getElementById("ReCaptchaToken").value = token;
                                $('.button-submit-wide').html('Register');
                                if (document.getElementById('AgreeToTerms').checked) {
                                    $('.button-submit-wide').removeClass('disabled');
                                }
                            });
                        });
                    }
                    else {
                        $('.flex-container-row').html(response);
                        $.validator.unobtrusive.parse($("#payment-form"));
                        $('#total').html('$' + (parseFloat($('#price').html().substring(1)) + parseFloat($('#tax').html().substring(1))).toFixed(2));
                    }
                })
                .fail(function (error) {
                    showFailureBootbox("resgistering", error.statusText);
                });
            });
        });

        $(document).on("submit", "#payment-form", function (e, data) {
            e.preventDefault();

            // Show spinner on reset button
            $('.button-submit-wide').html('<div class="loader"></div>');
            $('.button-submit-wide').addClass('disabled');
            $('.validation-error').html('');

            Stripe.card.createToken({
                number: $('#CardNumber').val(),
                cvc: $('#CVC').val(),
                exp_month: $('#Month').val(),
                exp_year: $('#Year').val(),
                address_zip: $('#Zip').val()
            }, stripeResponseHandler);
        });

        function enableSubmitButton() {
            if ($('#payment-form').length) {
                $('.button-submit-wide').html('Subscribe');
                $('.button-submit-wide').removeClass('disabled');
            }
            else {
                $('.button-submit-wide').html('Register');
                $('#AgreeToTerms').change();
            }
        }

        $(document).on('hidden.bs.modal', function () {
            enableSubmitButton()
        });

        $(document).on("click", "#terms-btn", function (e, data) {
            var url = $('#terms-modal').data('url');

            $.get(url, function (data) {
                $('#terms-container').html(data);

                currentModal = $('#terms-modal');
                currentModal.modal('show');
            });
        });

        $(document).on("click", "#privacy-btn", function (e, data) {
            var url = $('#privacy-modal').data('url');

            $.get(url, function (data) {
                $('#privacy-container').html(data);

                currentModal = $('#privacy-modal');
                currentModal.modal('show');
            });
        });

        function onResize() {
            if ($(window).width() < 600) {
                $('.flex-container-row').css('display', 'unset');
            }
            else {
                $('.flex-container-row').css('display', 'flex');
            }
        };
        window.addEventListener("resize", function () {
            onResize();
        });

        $(document).on("change", "#Interval", function () {
            if (this.value == 0) {
                $('#price').html('$4.99');
                $('#interval').html('Monthly');
                $('#total').html('$' + (parseFloat($('#price').html().substring(1)) + parseFloat($('#tax').html().substring(1))).toFixed(2));
            }
            else {
                $('#price').html('$49.99');
                $('#interval').html('Yearly');
                $('#total').html('$' + (parseFloat($('#price').html().substring(1)) + parseFloat($('#tax').html().substring(1))).toFixed(2));
            }
        });
    });
    </script>
}
