@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="flex-container-row">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" id="register-form" data-ajax="true" method="post" enctype="multipart/form-data" class="form-horizontal">
        <h2>Register</h2>
        <h4>Create your account</h4>
        <div asp-validation-summary="All"></div>
        <div class="row row-no-margin">
            <div class="col">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="form-label">
                        <label asp-for="AccountType"></label><br />
                        <div class="row">
                            <div class="col">
                                <div id="free-btn" class="btn btn-outline-primary" style="width: 100%">Free</div>
                            </div>
                            <div class="col">
                                <div id="subscription-btn" class="btn btn-outline-primary" style="width: 100%">Subscription</div>
                            </div>
                        </div>
                        <input type="radio" id="free-radio" asp-for="AccountType" value="0" style="opacity: 0" />
                        <input type="radio" id="subscription-radio" asp-for="AccountType" value="1" style="opacity: 0" />
                    </div>
                </div>
                <span asp-validation-for="AccountType" style="color: red"></span>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="Username"></label>
                    </div>
                    <input asp-for="Username" class="form-control form-input" />
                    <span asp-validation-for="Username" style="color: red"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="FirstName"></label>
                    </div>
                    <input asp-for="FirstName" class="form-control form-input" />
                    <span asp-validation-for="FirstName" style="color: red"></span>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="LastName"></label>
                    </div>
                    <input asp-for="LastName" class="form-control form-input" />
                    <span asp-validation-for="LastName" style="color: red"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="Email"></label>
                    </div>
                    <input asp-for="Email" class="form-control form-input" />
                    <span asp-validation-for="Email" style="color: red"></span>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="Password"></label>
                    </div>
                    <input asp-for="Password" class="form-control form-input" />
                    <span asp-validation-for="Password" style="color: red"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <input asp-for="ConfirmPassword" class="form-control form-input" />
                    <span asp-validation-for="ConfirmPassword" style="color: red"></span>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group" style="text-align: left">
                    <div class="form-label">
                        @Html.LabelFor(m => m.Image, "Profile Image")
                    </div>
                    @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "btn btn-default form-input" })
                    @Html.ValidationMessageFor(m => m.Image)
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <label for="AgreeToTerms"><input type="checkbox" data-val="true" data-val-required="The I agree to the Terms of Service and Privacy Policy field is required." id="AgreeToTerms" name="AgreeToTerms" value="true"> I agree to the Terms of Service and Privacy Policy</label>
                    </div>
                    <span asp-validation-for="AgreeToTerms" style="color: red"></span>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-default disabled button-submit-wide">Register</button>
                </div>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="~/lib/jquery.payment/lib/jquery.payment.min.js"></script>
<script>
    $(document).ready(function () {
        $('footer').show();

        // Show information regarding free account
        $(document).on("click", "#free-btn", function (e, data) {
            if (!$(this).hasClass('checked')) {
                $(this).addClass('checked');
                $('#subscription-btn').removeClass('checked');
                $('#free-radio').click();
                $('#free-radio').click();
            }
            bootbox.dialog({
                message: "Free TabCollab Account<br /><br />With the free TabCollab account, you get 50 free tab version uploads for your own projects and unlimited uploads to the projects of other musicians.<br /><br />HOWEVER, for $49.99/year (less than $5/month) you can sign up for a subscription account and get UNLIMITED tab version uploads.",
                buttons: {
                    confirm: {
                        label: 'Close',
                        className: 'btn-default'
                    },
                }
            });
        });

        // Show information regarding subscription account
        $(document).on("click", "#subscription-btn", function (e, data) {
            if (!$(this).hasClass('checked')) {
                $(this).addClass('checked');
                $('#free-btn').removeClass('checked');
                $('#subscription-radio').click();
                $('#subscription-radio').click();
            }
            $('#payment').show();
            bootbox.dialog({
                message: "Subscription TabCollab Account<br /><br />With the subscription-based TabCollab account, you get UNLIMITED tab version uploads for your projects, as well as unlimited uploads to the projects of other musicians.<br /><br />$49.99/year (less than $5/month)",
                buttons: {
                    confirm: {
                        label: 'Close',
                        className: 'btn-default'
                    },
                }
            });
        });

        $(document).on("change", "#Image", function (e, data) {
            // Make sure the image size is less than 1MB
            if (this.files.length) {
                if (this.files[0].size > 1000000) {
                    if (!$(".file-validation").length) {
                        // Append it to the validation-summary-*, in case this is a summary after a failed submit to the server
                        $(".validation-summary-valid ul").append("<li class='file-validation'>Image size limit is 1 MB.</li>");
                        $(".validation-summary-errors ul").append("<li class='file-validation'>Image size limit is 1 MB.</li>");
                    }
                    $('.button-submit-wide')[0].classList.add("disabled");
                }
                else {
                    if ($(".file-validation").length) {
                        $(".file-validation").remove();
                    }
                    $('.button-submit-wide')[0].classList.remove("disabled");
                }
            }
            else {
                if ($(".file-validation").length) {
                    $(".file-validation").remove();
                }
                $('.button-submit-wide')[0].classList.remove("disabled");
            }
        });

        $(document).on("click", ".button-submit-wide", function (e) {
            if ($(this).hasClass('disabled')) {
                e.preventDefault();

                bootbox.dialog({
                    message: "You must agree to the Terms of Service and Privacy policy to register.",
                    buttons: {
                        confirm: {
                            label: 'Close',
                            className: 'btn-default'
                        },
                    }
                });

                return;
            }
        });

        // Check card type
        $(document).on("keyup", "#CardNumber", function () {
            var $amex = $('#amex'),
                $visa = $('#visa'),
                $mastercard = $('#mastercard'),
                $discover = $('#discover'),
                $cardNumber = $(this);

            $amex.removeClass('transparent');
            $visa.removeClass('transparent');
            $mastercard.removeClass('transparent');
            $discover.removeClass('transparent');

            if ($.payment.cardType($cardNumber.val()) == 'visa') {
                $mastercard.addClass('transparent');
                $amex.addClass('transparent');
                $discover.addClass('transparent');
            } else if ($.payment.cardType($cardNumber.val()) == 'amex') {
                $mastercard.addClass('transparent');
                $visa.addClass('transparent');
                $discover.addClass('transparent');
            } else if ($.payment.cardType($cardNumber.val()) == 'mastercard') {
                $amex.addClass('transparent');
                $visa.addClass('transparent');
                $discover.addClass('transparent');
            }
            else if ($.payment.cardType($cardNumber.val()) == 'discover') {
                $amex.addClass('transparent');
                $visa.addClass('transparent');
                $mastercard.addClass('transparent');
            }
        });

        $(document).on("change", "#AgreeToTerms", function () {
            if (this.checked) {
                $('.button-submit-wide').removeClass('disabled');
            }
            else {
                $('.button-submit-wide').addClass('disabled');
            }
        });

        $(document).on("submit", "#paypal-form", function (e, data) {
            $('.btn-subscribe').html('<div class="loader"></div>');            
        });

        $(document).on("submit", "#register-form", function (e, data) {
            $('.button-submit-wide').html('<div class="loader"></div>');

            e.preventDefault();

            $('#register-form').valid();

            var form = e.target;
            var formData = new FormData(form);

            $.ajax({
                url: form.action,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            })
                .then(function (data) {
                    $('.button-submit-wide').html('Register');
                    $('.flex-container-row').html(data);
                    $.validator.unobtrusive.parse($("#register-form"));

                    // Set the selected button if a register form was returned
                    if (document.getElementById('free-radio')) {
                        if (document.getElementById('free-radio').checked) {
                            $('#free-btn').addClass('checked');
                            $('#subscription-btn').removeClass('checked');
                        }
                        else {
                            $('#subscription-btn').addClass('checked');
                            $('#free-btn').removeClass('checked');
                        }
                    }
                })
                .fail(function (error) {
                    bootbox.dialog({
                        message: "An error occurred while submitting the form.<br /><br />Error: " + error.statusText,
                        buttons: {
                            confirm: {
                                label: 'Close',
                                className: 'btn-default'
                            },
                        }
                    });
                });
        });

        $(document).on('hidden.bs.modal', function () {
            $('.button-submit-wide').html('Register');
        });
    });
</script>
}
