@model IEnumerable<TabRepository.ViewModels.FriendViewModel>

@if (Model.Count() > 0)
{
    <div class="row list-row">
        @foreach (var user in Model)
        {
            <div class="col-lg-4" align="center">
                <div class="card card-profile">
                    <div class="card-header" style="background-image: url('@(user.ImageFilePath == null ? "/images/TabCollab_icon_white_square_512.png" : user.ImageFilePath)');"></div>
                    <div class="card-body text-center">
                        <h3 style="margin-bottom: 1.25rem;">@user.Username</h3>
                        <div>
                            @if (!@user.IsCurrentUser)
                            {
                                if (@user.Status == FriendStatus.None)
                                {
                                    <a id="add-friend-button" data-username="@user.Username" class="btn btn-primary" href="@Url.Action("AddFriend", "Friends")">Add Friend</a>
                                }
                                else if (@user.Status == FriendStatus.Requested)
                                {
                                    if (@user.Direction == Direction.To)
                                    {
                                        <a class="btn btn-default pull-left disabled">Request Sent</a>
                                        <a id="cancel-request-button" data-username="@user.Username" class="btn btn-danger pull-right" href="@Url.Action("CancelRequest", "Friends")">Cancel Request</a>
                                    }
                                    else
                                    {
                                        <a id="accept-friend-button" data-username="@user.Username" class="btn btn-info pull-left" href="@Url.Action("AcceptFriend", "Friends")">Accept Friend</a>
                                        <a id="decline-friend-button" data-username="@user.Username" class="btn btn-danger pull-right" href="@Url.Action("DeclineFriend", "Friends")">Decline Friend</a>
                                    }
                                }
                                else if (@user.Status == FriendStatus.Friends)
                                {
                                    <a class="btn btn-primary pull-left">Friends</a>
                                    <a id="remove-friend-button" data-username="@user.Username" class="btn btn-danger pull-right" href="@Url.Action("RemoveFriend", "Friends")">Unfriend</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="flex-container-row empty-list">
        <div class="flex-container-col">
            <h2 style="color: grey">You don't have any friends (on TabCollab).</h2>
        </div>
    </div>
}