@model IEnumerable<TabRepository.ViewModels.FriendViewModel>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid list-container" style="display: block;">
    <div id="page">
        <div class="row list-row">
            @foreach (var user in Model)
            {
                <div class="col-lg-4" align="center">
                    <div class="card card-profile">
                        <div class="card-header" style="background-image: url('@user.ImageFilePath');"></div>
                        <div class="card-body text-center">
                            <h3>@user.Username</h3>
                            <p class="m-b">@user.FirstName @user.LastName</p>
                            <div>
                                @if (!@user.IsCurrentUser)
                                {
                                    if (@user.Status == FriendStatus.None)
                                    {
                                        <a id="add-friend-button" data-username="@user.Username" class="btn btn-primary" href="@Url.Action("AddFriend", "Friends")">Add Friend</a>
                                    }
                                    else if (@user.Status == FriendStatus.Requested)
                                    {
                                        if (@user.Direction == Direction.To)
                                        {
                                            <a class="btn btn-default pull-left disabled">Request Sent</a>
                                            <a id="cancel-request-button" data-username="@user.Username" class="btn btn-danger pull-right" href="@Url.Action("CancelRequest", "Friends")">Cancel Request</a>
                                        }
                                        else
                                        {
                                            <a id="accept-friend-button" data-username="@user.Username" class="btn btn-primary pull-left" href="@Url.Action("AcceptFriend", "Friends")">Accept Friend</a>
                                            <a id="decline-friend-button" data-username="@user.Username" class="btn btn-danger pull-right" href="@Url.Action("DeclineFriend", "Friends")">Decline Friend</a>
                                        }
                                    }
                                    else if (@user.Status == FriendStatus.Friends)
                                    {
                                        <a class="btn btn-primary pull-left">Friends</a>
                                        <a id="remove-friend-button" data-username="@user.Username" class="btn btn-danger pull-right" href="@Url.Action("RemoveFriend", "Friends")">Unfriend</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $('footer').show();

            // Add friend
            $("#page").on("click", "#add-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (response) {
                    if (response.error) {
                        showFailureBootbox("sending friend request", response.error);
                    }
                    else {
                        $(that).html("Request Sent");
                        $(that).toggleClass('btn-primary btn-default disabled pull-left');
                        $(that).parent().append('<a id="cancel-request-button" data-username="' + username.username + '" class="btn btn-danger pull-right" href="/Friends/CancelRequest">Cancel Request</a>');
                    }                        
                })
                .fail(function (error) {
                    showFailureBootbox("sending friend request", error.statusText);
                })
            });

            // Accept friend
            $("#page").on("click", "#accept-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (response) {
                    if (response.error) {
                        showFailureBootbox("accepting friend request", response.error);
                    }
                    else {
                        $(that).html("Friends");
                        $(that).parent().html('<a class="btn btn-primary pull-left">Friends</a><a id="remove-friend-button" data-username="' + username.username + '" class="btn btn-danger pull-right" href="/Friends/RemoveFriend">Unfriend</a>')
                    }                   
                })
                .fail(function (error) {
                    showFailureBootbox("accepting friend request", error.statusText);
                })
            });

            // Remove friend
            $("#page").on("click", "#remove-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                bootbox.confirm("Are you sure you wish to unfriend " + username.username + "?", function (result) {
                    if (result) {
                        $.ajax({
                            url: href,
                            type: 'POST',
                            data: username,
                            dataType: 'json'
                        })
                        .then(function (response) {
                            if (response.error) {
                                showFailureBootbox("removing friend", response.error);
                            }
                            else {
                                $(that).parent().html('<a id="add-friend-button" data-username="' + username.username + '" class="btn btn-primary" href="/Friends/AddFriend">Add Friend</a>');
                            }                            
                        })
                        .fail(function (error) {
                            showFailureBootbox("removing friend", error.statusText);
                        })
                    }
                });
            });

            // Decline friend
            $("#page").on("click", "#decline-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (response) {
                    if (response.error) {
                        showFailureBootbox("declining friend request", response.error);
                    }
                    else {
                        $(that).parent().html('<a id="add-friend-button" data-username="' + username.username + '" class="btn btn-primary" href="/Friends/AddFriend">Add Friend</a>');
                    }                    
                })
                .fail(function (error) {
                    showFailureBootbox("declining friend request", error.statusText);
                })
            });

            // Cancel request
            $("#page").on("click", "#cancel-request-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (response) {
                    if (response.error) {
                        showFailureBootbox("canceling friend request", response.error);
                    }
                    else {
                        $(that).parent().html('<a id="add-friend-button" data-username="' + username.username + '" class="btn btn-primary" href="/Friends/AddFriend">Add Friend</a>');
                    }                    
                })
                .fail(function (error) {
                    showFailureBootbox("canceling friend request", error.statusText);
                })
            });
        });
    </script>
}
