@model TabRepository.ViewModels.TabVersionIndexViewModel

<h2 hidden id="tabId">@Model.TabId</h2>
<h2 hidden id="tabName">@Model.TabName</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="25%">Description</th>
            <th width="25%">Download</th>
            <th width="15%">Contributor</th>
            <th width="15%">Date Added</th>
            <th width="10%">Version</th>
            <th width="5%"></th>
            <th width="5%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.TabVersions)
        {
            <tr>
                <td>@t.TabVersion.Description</td>
                <td>@Html.ActionLink(Model.TabName, "Download", "TabFiles", new { id = t.TabVersion.TabFile.Id }, null)</td>
                <td>@t.TabVersion.User.UserName</td>
                <td>@t.TabVersion.DateCreated.ToString("g")</td>
                <td>@t.TabVersion.Version</td>
                @if (System.IO.Path.GetExtension(t.TabVersion.TabFile.Name).Contains(".gp"))
                {
                    <td align="center" style="vertical-align: middle;">
                        <a href="@Url.Action("Player", "TabFiles", new { id = t.TabVersion.TabFile.Id })"><i class="fa fa-play" /></a>
                    </td>
                }
                else
                {
                    <td align="center" style="vertical-align: middle;"><i class="fa fa-play" style="display: none;" /></td>
                }
                <td align="center" style="vertical-align: middle;">
                    @if (t.IsOwner)
                    {                      
                        <a id="delete-tabversion-button" href="@Url.Action("Delete", "TabVersions", new { id = t.TabVersion.Id })"><i class="fa fa-times" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


