@model TabRespository.ViewModels.TabVersionIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tab Versions for @Model.TabName</h2>

<p>
    @Html.ActionLink("Back To Tabs", "Index", "Tabs", new { id = Model.ProjectId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("New Tab Version", "New", "TabVersions", new { id = Model.TabId }, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Description</th>
            <th>Download</th>
            <th>Contributor</th>
            <th>Date Added</th>
            <th>Version</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tabVersion in Model.TabVersions)
        {
            <tr>
                <td>@tabVersion.Description</td>
                <td>@Html.ActionLink(@tabVersion.TabFile.Name, "Download", "TabFiles", new { id = tabVersion.TabFile.Id }, null)</td>
                <td>@tabVersion.User.UserName</td>
                <td>@tabVersion.DateCreated</td>
                <td>@tabVersion.Version</td>
                <td>@Html.ActionLink("Listen", "Player", "TabFiles", new { id = tabVersion.TabFile.Id }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "TabVersions", new { id = tabVersion.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>