@model TabRespository.ViewModels.TabVersionFormViewModel
@{
    ViewBag.Title = "TabForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Tab Version</h2>

<p>Tab Name: @Model.TabName</p>

@using (Html.BeginForm("Save", "TabVersions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary() <!--Prints list of validation errors at top of form-->
    <div class="form-group">
        @Html.LabelFor(t => t.Description)
        @Html.TextBoxFor(t => t.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.FileData)
        @Html.TextBoxFor(t => t.FileData, new { type = "file", @class = "btn btn-default" })
        @Html.ValidationMessageFor(t => t.FileData)
    </div>
    @Html.HiddenFor(t => t.TabId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"> Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}