@model IEnumerable<TabRepository.ViewModels.AlbumIndexViewModel>

<div class="row list-row">
    @foreach (var album in Model)
    {
        <div class="col" align="center">
            <div class="card card-profile">
                <div class="card-header" style="background-image: url('@(album.ImageFilePath == null ? "/images/TabCollab_icon_white_square_512.png" : album.ImageFilePath)');"></div>
                <div class="card-body text-center">
                    <h3>@album.Name</h3>
                    <p class="m-b">Project: @album.ProjectName<br />Owner: @album.Owner</p>
                    <div class="tabs-container">
                        <div class="show-items-icon-container">
                            <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                        </div>
                        <div class="tab-list @(album.IsOwner ? "tab-list-sort" : "")">
                        @foreach (var tab in album.Tabs)
                        {
                            <div id="@tab.Id" class="item-container">
                                <div class="row tab-panel-row">
                                    <div class="card tab-panel">
                                        <p>@tab.Name</p>
                                        @if (album.IsOwner)
                                        {
                                        <div class="row">
                                            <div class="col-4">
                                                <a id="new-tabversion-button" data-toggle="tooltip" title="Add new tab version" class="list-icon white-icon" data-tab-id="@tab.Id" href="@Url.Action("GetTabVersionFormPartialView", "TabVersions")"><i class="fa fa-plus fa-lg" /></a>
                                            </div>
                                            <div class="col-4">
                                                <a id="edit-tab-button" data-toggle="tooltip" title="Edit tab" class="list-icon white-icon" data-album-id="@tab.AlbumId" data-tab-id="@tab.Id" href="@Url.Action("GetTabFormPartialView", "Tabs")"><i class="fa fa-pencil fa-lg"></i></a>
                                            </div>
                                            <div class="col-4">
                                                <a id="delete-tab-button" data-toggle="tooltip" title="Delete tab" class="list-icon white-icon" href="@Url.Action("Delete", "Tabs", new { id = tab.Id })"><i class="fa fa-times fa-lg" /></a>
                                            </div> 
                                        </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-12">
                                                    <a id="new-tabversion-button" data-toggle="tooltip" title="Add new tab version" class="list-icon white-icon" data-tab-id="@tab.Id" href="@Url.Action("GetTabVersionFormPartialView", "TabVersions")"><i class="fa fa-plus fa-lg" /></a>
                                                </div>
                                            </div>                                           
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                        <div class="hide-items-icon-container">
                            <i class="fa fa-lg fa-chevron-up hide-buttons-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

