@model TabRepository.ViewModels.TabFormViewModel


<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content text-left">
        <div class="modal-header">
            @if (String.IsNullOrEmpty(Model.Name))
            {
                <h4 class="modal-title">New Tab for @Model.AlbumName</h4>
            }
            else
            {
                <h4 class="modal-title">Edit @Model.Name</h4>
            }
            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="tab-form" asp-controller="Tabs" asp-action="Save" data-ajax="true" data-ajax-method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    @Html.LabelFor(t => t.Name)
                    @Html.TextBoxFor(t => t.Name, new { @class = "form-control form-input" })
                    <div class="form-label">
                        <span asp-validation-for="Name" style="color: red"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(t => t.Description)
                    @Html.TextAreaFor(t => t.Description, new { @class = "form-control form-input" })
                    <div class="form-label">
                        <span asp-validation-for="Description" style="color: red"></span>
                    </div>
                </div>
                @if (String.IsNullOrEmpty(Model.Name))
                {
                <div class="form-group">
                    <div class="form-label">
                        @Html.LabelFor(m => m.FileData, "Tab File")
                    </div>
                    <input class="btn btn-default form-input file-input" id="FileData" name="FileData" type="file">                    
                    <div class="form-label">                        
                        <span id="file-error" class="validation-error file-error file-size-error" style="color: red"></span>
                    </div>
                </div>
                }
                @Html.HiddenFor(t => t.AlbumId)
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()                
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary button-save" form="tab-form"> Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>


