@model IEnumerable<TabRepository.ViewModels.AlbumIndexViewModel>

<div class="row list-row">
    @{ int i = 1; }
    @foreach (var album in Model)
    {
        <div class="col-md-4" align="center">
            <div class="panel panel-default panel-profile">
                <div class="panel-heading" style="background-image: url('@album.ImageFilePath');"></div>
                <div class="panel-body text-center">
                    <h3>@album.Name</h3>
                    <p class="m-b">Project: @album.ProjectName<br />Owner: @album.Owner</p>
                    <div class="tabs-container">
                        <div class="show-items-icon-container">
                            <i class="fa fa-chevron-down show-buttons-icon"></i>
                        </div>
                        <div class="tab-list @(album.IsOwner ? "tab-list-sort" : "")">
                        @foreach (var tab in album.Tabs)
                        {
                            <div id="@tab.Id" class="item-container">
                                <div class="row tab-panel-row">
                                    <div class="panel panel-default tab-panel">
                                        <p>@tab.Name</p>
                                        @if (album.IsOwner)
                                        {
                                            <a id="new-tabversion-button" data-toggle="tooltip" title="Add new tab version" class="list-icon pull-left white-icon" data-tab-id="@tab.Id" href="@Url.Action("GetTabVersionFormPartialView", "TabVersions")"><i class="fa fa-plus fa-lg" /></a>
                                            <a id="edit-tab-button" data-toggle="tooltip" title="Edit tab" class="list-icon white-icon" data-album-id="@tab.AlbumId" data-tab-id="@tab.Id" href="@Url.Action("GetTabFormPartialView", "Tabs")"><i class="fa fa-pencil fa-lg"></i></a>
                                            <a id="delete-tab-button" data-toggle="tooltip" title="Delete tab" class="list-icon pull-right white-icon" href="@Url.Action("Delete", "Tabs", new { id = tab.Id })"><i class="fa fa-times fa-lg" /></a>
                                        }
                                        else
                                        {
                                            <a id="new-tabversion-button" data-toggle="tooltip" title="Add new tab version" class="list-icon white-icon" data-tab-id="@tab.Id" href="@Url.Action("GetTabVersionFormPartialView", "TabVersions")"><i class="fa fa-plus fa-lg" /></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                        <div class="hide-items-icon-container">
                            <i class="fa fa-chevron-up hide-buttons-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (i % 3 == 0)
        {
            <div class="clearfix"></div>
        }
        i++;
    }

</div>

