@model TabRepository.ViewModels.TabFormViewModel
@{
    ViewBag.Title = "TabForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Tab</h2>

<p>ALBUM NAME: @Model.AlbumName</p>

<form id="tab-form" asp-controller="Tabs" asp-action="Save" data-ajax="true" data-ajax-method="POST" enctype="multipart/form-data">    
    <div class="form-group">
        @Html.LabelFor(t => t.Name)
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
        <span asp-validation-for="Name" style="color: red"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Description)
        @Html.TextBoxFor(t => t.Description, new { @class = "form-control" })
        <span asp-validation-for="Description" style="color: red"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.FileData)
        @Html.TextBoxFor(t => t.FileData, new { type = "file", @class = "btn btn-default" })
        <span asp-validation-for="FileData" style="color: red"></span>
    </div>
    @Html.HiddenFor(t => t.AlbumId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"> Save</button>
</form>