@model TabRepository.ViewModels.AlbumFormViewModel

<div class="modal-dialog text-left">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            @if (String.IsNullOrEmpty(Model.Name))
            {
                <h4 class="modal-title">New Album for @Model.ProjectName</h4>
            }
            else
            {
                <h4 class="modal-title">Edit @Model.Name</h4>
            }
            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="album-form" asp-controller="Albums" asp-action="Save" data-ajax="true" data-ajax-method="POST">
                @Html.ValidationSummary() <!--Prints list of validation errors at top of form-->
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-input" })
                    <span asp-validation-for="Name" style="color: red"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control form-input" })
                    <span asp-validation-for="Description" style="color: red"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Image)
                    @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "btn btn-default form-input" })
                    <span asp-validation-for="Image" style="color: red"></span>
                </div>
                @Html.HiddenFor(m => m.ProjectId)
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary button-save" form="album-form">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
