@model IEnumerable<TabRepository.ViewModels.AlbumIndexViewModel>

    <div class="row list-row">
        @{ int i = 1; }
        @foreach (var album in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-default panel-profile">
                    <div class="panel-heading" style="background-image: url('@album.ImageFilePath');"></div>
                    <div class="panel-body text-center">
                        <h3>@album.Name</h3>
                        <p class="m-b">Project: @album.ProjectName<br />Owner: @album.Owner</p>
                        @if (album.IsOwner)
                        {
                            <div class="show-items-icon-container">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <div class="item-container">                            
                                <a id="edit-album-button" style="visibility: hidden;" data-toggle="tooltip" title="Edit album" class="btn btn-default pull-left" data-project-id="@album.ProjectId" data-album-id="@album.Id" href="@Url.Action("GetAlbumFormPartialView", "Albums")"><i class="fa fa-pencil edit-button-icon" /></a>                           
                                <a id="delete-album-button" style="visibility: hidden;" data-toggle="tooltip" title="Delete album" class="btn btn-danger pull-right" href="@Url.Action("Delete", "Albums", new { id = album.Id })"><i class="fa fa-times" /></a> 
                            </div>
                            <div class="hide-items-icon-container">
                                <i class="fa fa-chevron-up"></i>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (i % 3 == 0)
            {
                <div class="clearfix"></div>
            }
            i++;
        }
    </div>
