@model IEnumerable<TabRepository.ViewModels.AlbumIndexViewModel>

@if (Model.Count() > 0)
{
    <div class="row list-row">
        @foreach (var album in Model)
        {
            <div class="col-lg-4" align="center">
                <div class="card card-profile">
                    <div class="card-header" style="background-image: url('@(album.ImageFilePath == null ? "/images/TabCollab_icon_white_square_512.png" : album.ImageFilePath)');"></div>
                    <div class="card-body text-center">
                        <h3>@album.Name</h3>
                        <p class="m-b">Project: @album.ProjectName<br />Owner: @album.Owner</p>
                        @if (album.IsOwner)
                        {
                            <div class="show-items-icon-container">
                                <i class="fa fa-lg fa-chevron-down show-buttons-icon"></i>
                            </div>
                            <div class="item-container">
                                <a id="edit-album-button" style="visibility: hidden;" data-toggle="tooltip" title="Edit Album" class="pull-left list-icon white-icon" data-project-id="@album.ProjectId" data-album-id="@album.Id" href="@Url.Action("GetAlbumFormPartialView", "Albums")"><i class="fa fa-pencil fa-lg" /></a>
                                <a id="delete-album-button" style="visibility: hidden;" data-toggle="tooltip" title="Delete Album" class="pull-right list-icon white-icon" data-name="@album.Name" href="@Url.Action("Delete", "Albums", new { id = album.Id })"><i class="fa fa-times fa-lg" /></a>
                            </div>
                            <div class="hide-items-icon-container">
                                <i class="fa fa-lg fa-chevron-up hide-buttons-icon"></i>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="flex-container-row empty-list">
        <div class="flex-container-col">
            <h2 style="color: grey">You don't have any albums. Create one!</h2>
        </div>
    </div>
}
