@model ManageViewModel
@{
    ViewData["Title"] = "Account";
}

<div class="container">
    <div id="page">
        <div class="manage-wrapper">
            <div class="col-md-4">
                <div class="panel panel-default panel-profile">
                    <div id="profile-image" class="panel-heading" style="background-image: url('@Model.ImageFilePath');"></div>
                    <div class="panel-body text-center">
                        <h3>@Model.Username</h3>
                    </div>
                </div>
                <form id="project-form" asp-controller="Manage" asp-action="SaveProfileImage" data-ajax="true" data-ajax-method="POST">
                    @Html.ValidationSummary() <!--Prints list of validation errors at top of form-->
                    <div class="form-group">
                        @Html.LabelFor(m => m.Image)
                        @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "btn btn-default" })
                        @Html.ValidationMessageFor(m => m.Image)
                    </div>
                    <button type="submit" class="btn btn-primary button-save disabled" form="project-form"> Save</button>
                </form>
            </div>
            <p></p>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-default" style="margin-left: 15px">Change Password</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn btn-default">Create Password</a>
            }
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        var submitButton = $('.button-save');

        $("#Image").on("change", function (e, data) {
            // Make sure the image size is less than 1MB
            if (this.files[0].size > 1000000) {
                if (!$(".file-validation").length) {
                    $(".validation-summary-valid ul").append("<li class='file-validation'>Image size limit is 1 MB.</li>");
                }
            }
            else {
                if ($(".file-validation").length) {
                    $(".file-validation").remove();
                }
                submitButton[0].classList.remove("disabled");
            }
        });

        $("#page").on("submit", function (e, data) {
            e.preventDefault();

            if (submitButton[0].classList.contains("disabled")) {
                return;
            }

            var form = e.target;
            var formData = new FormData(form);

            var submitButtonHtml = submitButton.html();
            // Show spinner on submit button and disable it
            submitButton.html('<div class="loader"></div>');

            $.ajax({
                url: form.action,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            })
                .then(function (response) {
                    submitButton.html(submitButtonHtml);
                    $("#profile-image").css("background-image", "url(" + response.imageFilePath + ")");
                    form.reset();
                    submitButton[0].classList.add("disabled");
                })
                .fail(function (error) {
                    bootbox.alert("Unable to save profile image. Error: " + error.statusText);
                    submitButton.html(submitButtonHtml);
                })
        });
    </script>
}
