@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] != null ? ViewData["Title"].ToString() + " - TabCollab" : "TabCollab")</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#000000">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/font-awesome-4.7.0/css/font-awesome.min.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/font-awesome-4.7.0/css/font-awesome.min.css">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img id="navbar-logo" src="~/images/TabCollab_horizontal_white.png" width="180" height="30" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Tabs" asp-action="Index">Tabs</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Albums" asp-action="Index">Albums</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Friends" asp-action="Index">Friends</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="body-content">
        <partial name="_CookieConsent" />
        <partial name="_InstallBanner" />
        @RenderBody()
        <footer style="display: none;">Copyright &copy; @DateTime.Now.Year - TabCollab</footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    <partial name="_BetaModal" />
</body>
</html>
